<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
     
    </style>
</head>
<body>
{% csrf_token %}
{% if msge %}
    <div class="w3-panel w3-yellow w3-display-container">
        <span onclick="this.parentElement.style.display='none'"
              class="w3-button w3-large w3-display-topright">&times;</span>
  <p>{{msge}}</p>
</div>

{% endif %}
<h1> welcome {{data.nom}} </h1>
<img src="{{data.imgurl}}" alt="" width="50" height="50">
<button type="button" onclick="location.href='{%url 'logout'%}'">Deconnexion</button>
<h1>Creer une annonce</h1>


<form action="/welcom/" method="post">
    {% csrf_token %}
    Titre:
    <input type="text" placeholder="name" name="titre">
    <br>
    categorie:

        <input type="radio" id="elev" name="cat" value="elevage">
        <label for="elev">Elevage</label>
        <input type="radio" id="agri" name="cat" value="agriculture">
        <label for="agri">agriculture</label><br>
    <br>
    descrption:
   <textarea rows="10" cols="50" name="descp"></textarea>
     <br>
    Image:
    <input type="file" name="files[]" id="file1">
    <button type="button" onclick="uploadimage(1)">Uplaod</button> 
    <br>
    <input type="file" name="files[]" id="file2">
    <button type="button" onclick="uploadimage(2)">Uplaod</button> 
    <br>
    <input type="file" name="files[]" id="file3">
    <button type="button" onclick="uploadimage(3)">Uplaod</button> 
    <br>
    <input type="hidden" name="imgurl1" id="url1">
    <input type="hidden" name="imgurl2" id="url2">
    <input type="hidden" name="imgurl3" id="url3">
    <br>
    <progress id="progress-bar" min="1" max="100" value="20"></progress>
    <input id="annoncer_btn" type="submit" value="soumettre" disabled>
</form>

<h1>liste d'annonce </h1>
{%if com_list  %}
  {%for lis_time,data,work in com_list %}
    {%if work.nom == e  %}

    <div class="w3-card-4">
        <img src="img_snowtops.jpg" alt="Alps">
        <div class="w3-container w3-center">
        <a href="/post_check/?t={{lis_time}}">
        Date:{{data}} &nbsp;
        titre:{{work.titre}} &nbsp;
        nom de l'utilisateur:{{work.nom}}
    </a>
      </div>
    </div>
    &nbsp;
    <br>
    {%endif %}
  {% endfor %}
{%else %}
  <p>pas d'annonce</p>
{%endif%}

</body>
<script src="https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
<script>
         // Your web app's Firebase configuration
      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      const Config = {
        apiKey: "AIzaSyBuwWCDpsLuwcrygf5qGuTkiznBMjFclNA",
        authDomain: "annoncesite-5d608.firebaseapp.com",
        databaseURL: "https://annoncesite-5d608-default-rtdb.firebaseio.com",
        projectId: "annoncesite-5d608",
        storageBucket: "annoncesite-5d608.appspot.com",
        messagingSenderId: "729688890729",
        appId: "1:729688890729:web:30db15c91ef10f9d2e31f8",
        measurementId: "G-E13XZ4TGFL"
      };
      firebase.initializeApp(Config);
      // Get a reference to the storage service, which is used to create references in your storage bucket

      function uploadimage(a){
                var progressBar = document.getElementById ('progress-bar');
                progressBar.style.display="block";
                progressBar.value = 0;
                if( a==1){
                  var file = document.getElementById("file1").files[0];
                  upimage(file,a);
                }
                if( a==2){
                  var file = document.getElementById("file2").files[0];
                  upimage(file,a);
                }
                if( a==3){
                  var file = document.getElementById("file3").files[0];
                  upimage(file,a);
                }
                function upimage(files,b){
                  var file = files; 
                  var B = b;
                  var storage = firebase.storage();

                  var storageRef = storage.ref();

                  var thisref = storageRef.child("annonces").child(file.name).put(file);

                  thisref.on('state_changed',function(snapshot){

                  console.log("file uplaoded succesfully");

                  },
                  function(error) {

                  },

                  function() {
                  // Upload completed successfully, now we can get the download URL
                  var downloadURL = thisref.snapshot.downloadURL;
                if( B==1){
                  console.log("got url");
                  document.getElementById("url1").value = downloadURL;
                  var url1 = downloadURL;
                  console.log(url1);
                  console.log("file uploaded successfully in firebase img1");
                } 
                if( B==2){
                  console.log("got url");
                   document.getElementById("url2").value = downloadURL;
                   var url2 = downloadURL;
                   console.log(url2);
                  console.log("file uploaded successfully in firebase img2");
                } 
                if( B==3){
                  console.log("got url");
                  document.getElementById("url3").value = downloadURL;
                  var url3 = downloadURL;
                  console.log(url3);
                  console.log("file uploaded successfully in firebase img3");
                } 
                if(url1 != "" &&  url2 !="" && url3 !=""){
                  document.getElementById("annoncer_btn").disabled= false;
                }else{
                  document.getElementById("annoncer_btn").disabled= true;
                }
               

            });
         }
                
    }
</script>
</html>